.site-content h1 {
  padding-left: 15px;
  font-family: 'Product Sans', sans-serif;
}

h1 > span {
  font-size: .5em;
}

.courses p,
.courses h3 {
  padding: 10px 15px;
  margin: 0;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4,
.parallax5,
.parallax6 {
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("../images/about/MarchingBandPlayer.jpg");
}

.parallax2 {
  background-image: url("../images/students/college_planning.jpg");
}

.parallax3 {
  background-image: url("../images/athletics/baseball.jpg");
}

.parallax4 {
  background-image: url("../images/athletics/cheerleading/cheer.jpg");
}

.parallax5 {
  background-image: url("../images/athletics/soccer.jpg");
}

.parallax6 {
  background-image: url("../images/athletics/wrestling.jpg");
}