@media screen and (max-width:799px) {
  section {
    margin-top: 15px;
  }
}

@media screen and (min-width:800px) {
  .staff div {
    padding: 15px;
  }
  .staff {
    margin: 0 auto;
    box-shadow: 0px 2px 3px rgba(238, 238, 238, 0.5);
  }
  .staff:hover {
    background-color: #fff;
    margin: 5px auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  }
  .staff {
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
}

.staff div {
  padding: 5px 20px;
}

.staff h3,
.staff p {
  margin: 0px
}

@media screen and (min-width:1200px) {
  .wrapper {
    width: 1200px;
  }
}