/********************************
Default Fonts
********************************/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  letter-spacing: .3px;
}

a:hover {
  text-decoration: none;
}

paper-button paper-material {
  text-transform: capitalize;
  background-color: #f44336;
  color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

footer {
  clear: both;
}


/********************************
Drawer
********************************/

app-toolbar paper-item:hover {
  background-color: #EF5350;
}

.toolbar paper-item {
  color: #fff;
  letter-spacing: .3px;
}

@media screen and (max-width:1180px) {
  nav-bar {
    display: none;
  }
}


/********************************
Common Colors
********************************/


/*
.red {
  background-color: #d50000;
  color: #fff;
}

.black {
  background-color: #000;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}
*/


/********************************
Global classes
********************************/

.wrapper {
  width: 100%;
}

@media screen and (min-width:1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

.contain {
  padding: 15px;
}

.clearRow {
  clear: both;
  padding-top: 10px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  position: relative;
}

.padding10 {
  padding: 10px;
}


/********************************
Home
********************************/

@media screen and (max-width: 1000px) {
  .pm {
    display: none;
  }
}

@media screen and (min-width:999px) {
  #ridgeTalkiFrame {
    width: 40%;
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  #quickMenu {
    width: 59%;
    display: inline-block;
    float: right;
  }
}

body {
  margin: 0px;
}


/********************************
Quick Menu Items
********************************/

@media screen and (min-width: 500px) {
  @media screen and (max-width: 1000px) {
    .quickMenuItems {
      display: inline-block;
      width: 49.4%;
    }
  }
}

@media screen and (min-width: 1150px) {
  .quickMenuItems {
    display: inline-block;
    width: 49.4%;
  }
  .ext-imgs {
    float: right;
    text-align: center;
    width: 100%;
  }
}

#best-high-school {
  width: 20%;
  margin-top: 10px;
}


/*#datesAndLinks {
  padding-top: 10px;
  color: #fff;
  background-color: #F44336;
}

@media screen and (min-width: 1000px) {
  #datesAndLinks {
    clear: both;
    width: 100%;
    float: left;
    display: inline-block;
  }
  @media screen and (min-width: 1300px) {
    #datesAndLinks {
      width: 100%;
      margin-top: 5px;
    }
    #datesAndLinks a {
      width: 49%;
      display: inline-block;
    }
  }
}*/

paper-item {
  color: black;
}

#datesAndLinks hr {
  margin: 0px;
}

#datesAndLinks div {
  background-color: #fff;
}


/*******************************
Mobile
*******************************/


/* Header */

.jumbotron {
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  text-shadow: black 0.2em 0.2em 0.2em;
  color: white;
  min-height: 120px;
}

.jumbotron .container {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 120px;
}


/* Sections */


/* About */

.gradients {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

#aboutHistory paper-button paper-material {
  background-color: red;
  color: white;
}

.historySection h1 {
  font-size: 2em;
  margin: 0px 0px 5px 0px;
  color: red;
}

#fightSong {
  text-align: center;
  line-height: 25px;
}

#fightSong paper-button paper-material {
  background-color: #81D4FA;
  color: black;
}

#almaMater {
  text-align: center;
  line-height: 25px;
}

@media screen and (max-width: 500px) {
  .jumbotron .container {
    padding: 10px;
  }
  .pantherImg img {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 500px) {
  .imageLeft {
    width: 30%;
    margin: 0 0 0 0;
    display: inline-block;
  }
  .textRight {
    width: 64%;
    display: inline-block;
    float: right;
    margin: 0 0 0 0;
  }
  .imageRight {
    width: 30%;
    margin: 0 0 0 0;
    display: inline-block;
    float: right;
  }
  .textLeft {
    width: 64%;
    display: inline-block;
    margin: 0 0 0 0;
    top: 50%;
    left: 50%;
    vertical-align: middle;
  }
}


/*********************************
900 Pixels and Wider
*********************************/

@media screen and (min-width: 900px) {
  
  .card {
    box-shadow: 0em 0.1em 0.2em rgba(0,0,0,0.6);
  }
  
  .jumbotron {
    height: 300px;
    position: relative;
    margin-bottom: 10px;
  }
  .jumbotron h1,
  h2 {
    font-size: 2em;
  }
  .jumbotron .container {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .paddingSide {
    padding: 10px;
  }
  .imageLeft {
    width: 32%;
    display: inline-block;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .textRight {
    width: 65%;
    display: inline-block;
    float: right;
    margin: 0 0 0 0;
  }
  .textLeft,
  textRight div {
    padding: 10px;
  }
  .imageRight {
    width: 35%;
    float: right;
    display: inline-block;
    padding: 0 0 0 0;
  }
  .textLeft {
    width: 65%;
    display: inline-block;
    padding: 20px 0;
  }
}

@media screen and (min-width: 500px) {
  .paddingSide {
    width: 96%;
    padding: 0px 2%;
  }
}

@media screen and (min-width: 1400px) {
  .jumbotron {
    height: 400px;
    position: relative;
    background-position: bottom;
  }
  .jumbotron h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  .paddingSide {
    width: 80%;
    padding: 0px 10%;
  }
}